
body {
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    background-color: #012A4A;
    
    }

.cabecalho{
    display: flex;
    color: #c9ae14;
    flex-direction: row-reverse;
    background-color: rgb(240, 191, 221);
}

.foto {
    width: 10px;
    display: block;
    text-align: center;
    margin: 0px auto;  

}

.links a {
    font: 12px  Arial, Verdana,Helvetica,sans-serif;
    color: rgb(226, 241, 11);
    text-decoration: none;
    background:  #0848f7;
    text-align: center;
    padding: 1px 5px;
    margin-right:1px;
    border: 1px solid #000;
}

.links a:hover {
    color: #666;
    background: #FCFCFC;
    border: 1px solid #666;
}

#Bio {
    
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white
    
}

.adm {
    font-size: 21px;
}

.gp {

    font-size: 12px;
}

.pb {

    font-size: 38px;
}

.xl {

    font-size: 24px;
}

.of {

    font-size: 43px;
}

ul {

    color: #e9ff70
}

